@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: miama-font;
    src: url(/fonts/Miama.ttf);
}

/* ------------------Public Common styles ----------------- */
/* Colors  */
:root {
    --clr-primary: #E6533C;
    --clr-bg: #000;
    --font-white: #FFFF;

}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.miama-font {
    font-family: miama-font;
    line-height: .6;
}

.font-grad {
    background: linear-gradient(to bottom, #FFFFFF, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Use only the -webkit- prefix */
    background-clip: text;
}


/* ---------------------Ends here common styles-----------------  */

body {
    margin: 0 0;
}

/* ----------- Header section ---------  */
header {
    background: linear-gradient(to bottom, #000, #131313, #2c2c2c);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
}

nav li {
    list-style-type: none;
}

nav ul {
    display: flex;
    gap: 45px;
    color: var(--font-white);
}

.title-main {
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
    color: var(--clr-primary)
}

/* Hero section  */
#circular {
    background: var(--clr-primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.hero-section {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.hero-left {
    max-width: 550px;
}

.hero-left h1 {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 28px;
}

.hero-left p {
    font-size: 18px;
    color: #CCCCCC;
}

.hero-right{
    color: #FFFFFF;
}
.tab{
    /* border: 2px solid red; */
    background: rgba(87, 83, 83, 0.308);
    max-width: 193px;
    border-radius: 10px;
    padding: 16px 24px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    
}
.hero-right h2{
    /* color: var(--font-white);
    z-index: 1; */
    font-size: 40px;
    margin: 0 0;
}
.hero-right p{
    margin-top: 0;
}
.bottom-tab{
    display: flex;
    gap: 10px;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
